nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 70px 0 0;
} 


nav p{
    font-family: ;
    color: gray;
}

.subs{
    color: white;
    background: red;
    border: none;
}

hr{
    color: gray;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
}

.correios{
    background-image: ;
}

.link-medias{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#medias{
    margin: 0px 40px 0px 40px;
}

.media-info{
    display: flex;
    flex-direction: row;
}

main h1{
    color: red;
}

#col-con{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    gap: 50px;
}

.leg1{
    background-color: red;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.leg1 p {
    color: white;

}

.con1{
    width: 1000px;
}

.con1 img{
    width: 100%;
    height: auto;
}

.con2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.con2_not img{
    width: 100%;
    height: auto;
}

.con2_not{
    width: 500px;
}

.con2 hr{
    margin: 20px 0px;
}

.con3{
    background-color: rgb(70, 69, 69);
}

.con3 video{
    margin: 0 auto;
}

.con3 p{
    color: white;
}

body{
    padding: 10px 20px;
}

header img{
    height: 100%;
    width: auto;
}

.con3{
    display: flex;
    position: relative;
    justify-content: center;
    flex: column;
}
.con3 p{
    font-size: 30px;
}

.cols-footer{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.img-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    background-color: #F2F2F2;
    margin-top: 50px;
}

.t-not{
    color: red;

}

.con3 video{
    margin: 0 auto;
    position: relative;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sub-not{
    color: grey;
}

.img-footer{
    margin-right: 0px;
}
