<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta</title>
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>

    <nav>
        <div class="nav-link"><a href="projects.html">Projetos</a></div>
        <div class="nav-link"><a href="/blog">Blog</a></div>
    </nav>

    <main>
        <section>
            <p><%= mensagem %></p>
        </section>
    </main>

</body>
</html>
