body {
    width: 98vw;
    height: 98vh;
    background-color: #0d1b2a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#cp {
    position: absolute;
    z-index: 0;
}

#canvas {
    position: absolute;
    z-index: 1;
}