form{
    width: min-content;
    margin: 0 auto;
}

body{
    background-color: rgb(156, 196, 196);
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 98vw;
}

#resultado{
    background-color: white ;
    width: 100%;
    text-align: center;
}

#cont{

    position: relative;
    height: max-content;
    width: max-content;
    top: 25%;
    position: relative;
    justify-items: center;
    background-color:rgb(94, 94, 244);
    margin: 0 auto;
    padding: 20px;

}

button{
    position: relative;
    width: 100%;
}
