body{
    display: flex;
    justify-content: center;
    width: 98vw;
    height: 98vh;
}

.main-cont{
    width: 80vw;
    height: 100%;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 10vh;
    width: 100%;
}

header img{
    position: relative;
    height: 100%;
}
